body {
  width: 100%;
  font-size: 16px; }

.choice-lung {
  position: relative;
  height: 20px;
  border: 1px solid blue;
  width: 6.66667%;
  margin-left: 83.33333%;
  margin-bottom: -20px; }

.choice-lung-content-ul {
  position: absolute;
  display: none;
  background: white;
  border: 1px solid black;
  text-align: center;
  width: 100%; }

.choice-lung:hover .choice-lung-content-ul {
  display: block; }

.choice-lung-content-ul ul {
  list-style-type: none;
  display: inline-block;
  border: 1px solid blue;
  text-align: center; }

.choice-lung-content-ul li {
  display: inline-block;
  margin-left: auto;
  margin-right: 50px;
  list-style-type: none;
  display: inline-block;
  border: 1px solid blue;
  width: 100%; }

.item-lung:hover {
  background: #FAFAD2; }

/*.choice-lung:after {
	content: url(images/arrow-for-lung.png);
	margin-left: 5px;
	margin-bottom: 10px;
	border: 1px solid green;
} */
.arrow-lung {
  display: inline-block;
  margin-bottom: 5px; }

header {
  display: flex;
  font-size: 1em;
  width: 99%;
  border: 1px solid black; }

.header-logo {
  width: 12.08333%;
  margin-left: 2.5%;
  margin-right: 0;
  border: 1px solid yellow;
  text-align: center;
  padding-top: 10px; }

.header-main-city {
  margin-left: 3.33333%;
  width: 12.5%;
  text-align: left;
  list-style-type: none;
  border: 1px solid black; }

.header-main-city ul {
  list-style-type: none;
  border: 1px solid blue;
  text-align: left;
  padding-left: 0; }

.header-main-city ul li {
  display: inline-block;
  border: 1px solid green; }

.header-contact-telephone {
  width: 13.33333%;
  text-align: center;
  margin-left: 3.33333%; }

.header-contact-telephone ul {
  list-style-type: none;
  padding-left: 0; }

.header__take-request {
  margin-left: 3.33333%;
  width: 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.33333%;
  background: #a32c29;
  color: white;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto; }

.header__our-email {
  margin-left: 3.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.75%;
  text-align: center; }

.header__search-text {
  width: 88.46154%;
  border-style: none;
  border: black 1px solid;
  height: 20px; }

.header__search-submit {
  width: 7.69231%;
  background: #a32c29;
  border-style: none;
  background-image: url(images/search-magnifear.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-left: -2px;
  height: 24px; }

.header__search {
  margin-left: 3.33333%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21.66667%;
  border: black solid 1px; }

/****end header ***************************/
/*==========================================================================*/
/***** top-menu****************************/
.top-menu {
  font-size: 1.124em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  color: white;
  background: #011627; }

.top-menu__link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: white; }

.top-menu__link:after {
  display: none;
  content: " ";
  position: absolute;
  height: 2px;
  width: 90%;
  left: 5%;
  bottom: -13px;
  background: red; }

.top-menu__link:hover {
  color: red; }

.top-menu__link:hover:after {
  display: block; }

/**********************end the top-menu ****************************/
/*=======================================================================*/
/***************** content *********************************************/
.content {
  width: 97.08333%;
  margin-left: 2.5%; }

/******* side-bar ********/
aside {
  width: 25.75107%;
  background: #f9f9f9;
  border: 1px solid black;
  list-style-type: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -10px 0 20px -23px rgba(0, 0, 0, 0.8), 10px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1); }

aside ul {
  list-style-type: none;
  padding-left: 0; }

aside ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black; }

aside ul li:hover {
  padding-top: 0;
  text-decoration: none;
  background: #a32c29;
  color: white; }

aside ul li {
  font-size: 1em;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid red;
  padding-left: 10%;
  padding-right: 10%;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  background: #f9f9f9;
  border: 1px solid black;
  margin-top: 0; }

.caption-list {
  font-size: 1.5em;
  padding-top: 25px;
  padding-bottom: 25px; }

.for-popUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.for-popUp div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.for-popUp img {
  margin: 5%; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 2px solid red;
  overflow: hidden;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1000px; }

/*# sourceMappingURL=style.css.map */
